@model HRManagment.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row" style="display: flex; flex-direction:column; justify-content: center; align-items:center">
    <div class="col-md-4 w-75" style="display: flex; flex-direction:column; justify-content: center; align-items:center">
        <div class="text-danger">@TempData["ErrorMessage"]</div>
        <form asp-action="EditEmployee" class="text-secondary text-bg-light w-100" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden />
            <div class="form-group">
                <div class="input-group">
                    <label asp-for="FName" class="control-label input-group-text"></label>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                    <label asp-for="LName" class="control-label input-group-text"></label>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-text">+20</span>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-text">+20</span>
                    <input asp-for="EmergencyContact" class="form-control" name="EmergencyContact" />
                </div>
                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" disabled />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" name="DateOfBirth" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <select asp-for="Position" asp-items="Model.Positions" class="form-control">
                    @if (!Enum.TryParse(typeof(Position), Model.Position, out var result))
                    {
                        <option disabled selected>Choose Position</option>
                    }
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" asp-items="Model.Genders" class="form-control" disabled></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Department Name</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="Model.Departments">
                </select>
            </div>
            <div class="form-group d-flex justify-content-center m-3">
                <input type="submit" value="Update" class="btn btn-primary w-25" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
